<mat-selection-list role="list" [multiple]="false">
  <mat-list-option (click)="onAudioOptionSelected()">
    Son normal (sen distorsión)
  </mat-list-option>
  <mat-list-option (click)="onAudioOptionSelected()">
    Distorsión do testigo local
  </mat-list-option>
  <mat-list-option (click)="onAudioOptionSelected()">
    Distorsión do micro inalámbrico
  </mat-list-option>
  <mat-list-option (click)="onAudioOptionSelected()">
    Distorsión do son da VCF
  </mat-list-option>
<!--  <mat-list-item role="listitem">Son normal (sen distorsión)</mat-list-item>-->
<!--  <mat-list-item role="listitem">Distorsión do testigo local</mat-list-item>-->
<!--  <mat-list-item role="listitem">Distorsión do micro inalámbrico</mat-list-item>-->
<!--  <mat-list-item role="listitem">Distorsión do son da VCF</mat-list-item>-->
</mat-selection-list>
